<!doctype html>
<html lang="en">

<style>
    .headstyle {
        color: rgb(255, 255, 255);
        font-variant: petite-caps;
        background-color: rgb(0, 0, 0, 0.8);
        margin-bottom: 0px
    }

    .divstyle {
        border-radius: 10px 10px 10px 10px;
        margin-left: 1px;
        margin-right: 1px
    }
</style>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Multi-disease Detection</title>
</head>

<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Multi-disease detection</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/covid">Covid</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/braintumor">Brain Tumor</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/pneumonia">Pneumonia</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " aria-current="page" href="/alzheimer">Alzheimer</a>
                    </li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <h1 class='text-center py-3'
            style="font-variant: petite-caps;margin-bottom:0px">
            <b><i>Multi-disease detection system with X-ray images using Deep Learning 
                Techniques</i></b>
    </h1>

    <div class="row" style="font-size: 20px;padding: 0px 50px 50px 50px;">
        <p><b>Multi-disease detection</b> is a one medical solution app which brings 4 Disease
            Detections like Covid Detection, Brain Tumor Detection, Alzheimer Detection, and 
            Pneumonia Detection under one platform.</p>

        <div class='divstyle' style='margin:40px 20px 60px 20px'>
            <div class="row py-4">
                <div class="col md-4">
                    <h3 class='text-center py-4 headstyle' style="font-size: 18px;"><b>Covid Detection</b></h3>
                    <a href="./covid"><img src="../static/icons/covid.jpeg" class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col md-4">
                    <h3 class='text-center py-4 headstyle' style="font-size: 18px;"><b>Brain Tumor Detection</b></h3>
                    <a href="./braintumor"><img src="../static/icons/braintumor.jpeg"
                            class="img-fluid mx-auto d-block"></a>
                </div>
               
                <div class="col md-4">
                    <h3 class='text-center py-4 headstyle' style="font-size: 18px;"><b>Pneumonia Detection</b></h3>
                    <a href="./pneumonia"><img src="../static/icons/pneumonia.jpeg"
                            class="img-fluid mx-auto d-block"></a>
                </div>
                <div class="col md-4">
                    <h3 class='text-center py-4 headstyle' style="font-size: 18px;"><b>Alzheimer Detection</b></h3>
                    <a href="./alzheimer"><img src="../static/icons/alzheimer.jpeg"
                            class="img-fluid mx-auto d-block"></a>
                </div>
            </div>
        </div>

        


        
    </div>




    <footer class='text-light bg-dark position-relative '>
        <p class='text-center py-1 my-0'>
            Made with ❤ by Suresh, Nandi, Dharani
        </p>
    </footer>


    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>



</body>

</html>